:root {
  --background: rgb(25, 25, 25);
  --main: rgb(32, 32, 32);
  --primary: rgb(50, 50, 50);
  --secondary: rgb(59, 59, 59);;
  --accent: rgb(118, 185, 237);
  --text: white;
}

html {
  box-sizing: border-box;
  height: 100%;
  color: var(--text)
}

*,
* :before,
* :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: var(--background);
  display: flex;
  height: inherit;
  justify-content: center;
}

.wrapper {
  background-color: var(--main);
  border:  1px solid black;
  padding: 10px;
  /* DIMENSIONS OF CALCULATOR WHOLE */
  height: 67vh;
  width: 21vw;
}

.screen {

}

.calc-button {
  height: 6vh;
  width: 4.7vw;
}